# Build directories
/bin/
/build/
/out/
/dist/
/dist-debug/

# Downloaded libraries
/SDL2-*/
/SDL2_image-*/
/SDL2_ttf-*/
/SDL2_mixer-*/
/lua-*/

# Downloaded archives
*.zip
*.tar.gz

# Object files
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# IDE files
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
*.swp
*.swo
*~
.DS_Store
imgui.ini
/examples/imgui.ini

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Examples
/examples/*.exe
/examples/*.dll
/examples/assets/
